* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #57614d;
  border-bottom: 1px solid #fff;
  .header-all {
    .header-right {
      ul {
        li {
          list-style: none;
          .selected {
            color: white;
          }
          a {
            text-decoration: none;
            font-size: 13px;
            line-height: 24px;
            text-transform: uppercase;
            color: #bbc6ab;
            font-weight: bold;
            font-family: "Times";
            text-align: right;
            filter: drop-shadow(0.5px 0.866px 0px rgba(0, 0, 0, 0.3));
            transition: all 0.3s;
            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}

.main-section {
  background-color: #d9d9d9;
  .card {
    background-color: #e9e9e9;
    .card-text {
      p {
        width: 307px;
        height: 185px;
        font-size: 30px;
        line-height: 48px;
        color: #4e5944;
        font-family: "Times New Roman";
        text-align: center;
      }
    }
  }
}

.testemonials {
  background-color: #eeeeee;
  border-bottom: 1px solid #fff;
  .all-testemonials {
    .testemonials-left {
      padding: 2rem;
      .testemonials-left-h1 {
        font-size: 32px;
        line-height: 24px;
        color: #57614e;
        font-family: "Times New Roman";
        margin-bottom: 20px;
      }
      .testemonials-left-p {
        font-size: 16px;
        line-height: 24px;
        color: #626262;
        font-family: "Times New Roman";
        a {
          color: #626262;
        }
      }
    }
    .testemonials-right {
      border-left: 1px solid rgba(0, 0, 0, 0.185);
      padding: 2rem;
      .testemonials-right-h1 {
        color: #626262;
        font-size: 20px;
        line-height: 24px;
        color: #57614e;
        font-family: "Times New Roman";
        margin-bottom: 20px;
      }
      .testemonials-right-p {
        font-size: 16px;
        line-height: 24px;
        color: #626262;
        font-family: "Times New Roman";
      }
      span {
        color: #626262;
        display: block;
        font: 14px Arial, Helvetica, sans-serif;
        text-align: right;
      }
    }
  }
}

.place {
  background-color: #e2e2e2;
  border-bottom: 1px solid #fff;
  .place-h2 {
    color: #728063;
    font: 19px/24px "Times New Roman", Times, serif;
    letter-spacing: 2px;
    margin: 20px 0;
  }
  .place-all {
    .place-cards {
      .card {
        border: none;
        .card-img-top {
          border: 5px solid rgba(231, 231, 231, 0) !important;
        }
        .card-body {
          background-color: #e2e2e2;
          .card-title {
            color: #626262;
            font-weight: bold;
            font-size: 14px;
          }
          .card-text {
            color: #626262;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
          }
          .btn {
            color: #fff;
            font-size: 12px;
            font-weight: 400;
            line-height: 28px;
            background-color: #646464;
            border: none;
            padding: 3px 35px;
            border-radius: 0;
            transition: all 0.3s;
            &:hover {
              background-color: #373737;
            }
          }
        }
      }
    }
  }
}

.mail {
  background-color: #d9d9d9;
  padding: 4rem 0;
  .mail-all {
    .mail-left {
      .mail-left-h4 {
        font-size: 13px;
        text-transform: uppercase;
        color: #626262;
        font-weight: bold;
        font-family: "Arial";
      }
      .mail-left-p {
        font-size: 14px;
        color: #626262;
        font-family: "Times New Roman";
      }
    }
    .mail-center {
      border-left: 1px solid rgba(0, 0, 0, 0.185);
      border-right: 1px solid rgba(0, 0, 0, 0.185);
      .mail-center-h4 {
        font-size: 13px;
        line-height: 24px;
        text-transform: uppercase;
        color: #626262;
        font-weight: bold;
        font-family: "Arial";
      }
      .mail-center-add {
        font-size: 14px;
        color: #626262;
        font-family: "Times New Roman";
        margin: 0 !important;
        padding: 0 !important;
      }
    }
    .mail-right {
      .mail-right-h4 {
        font-size: 13px;
        line-height: 24px;
        text-transform: uppercase;
        color: #626262;
        font-weight: bold;
        font-family: "Arial";
      }
      .mail-right-p {
        font-size: 14px;
        color: #626262;
        font-family: "Times New Roman";
      }
      .btn {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        line-height: 28px;
        background-color: #646464;
        border: none;
        padding: 3px 35px;
        border-radius: 0;
        transition: all 0.3s;
        &:hover {
          background-color: #373737;
        }
      }
    }
  }
}

footer {
  background-color: #4f5843;
  i{
    transition: all .4s !important;
    &:hover{
      color: black !important;
    }
  }
  .copy {
    color: #b5c1aa;
    font: 11px/30px Arial, Helvetica, sans-serif;
    margin: 0;
    padding-right: 10px;
    text-align: right;
    text-transform: uppercase;
  }
}

@import "responsive.scss";
